<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProdutos"  maxReceivedMessageSize="650000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8688/Produtos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProdutos" contract="ProdutosServiceReference.IProdutos"
                name="BasicHttpBinding_IProdutos" />
        </client>
    </system.serviceModel>
</configuration>